@import '../../styles/variables.scss';

.input-wrapper {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  &__ico {
    position: relative;

    input {
      padding: 1.5rem;
      border: 1px solid $colorGrayTwo;
      border-radius: 5px;
      width: 100%;
    }

    span {
      position: absolute;
      top: 55%;
      right: 3%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
    }
  }
}

.input-checkbox {
  display: flex;
  align-items: center;

  input {
    padding: 1rem;
  }

  label {
    font-size: 1.3rem;
    margin-left: 0.5rem;
  }
}

@media (min-width: $responsiveSM) {
  .input-wrapper {
    &__ico {
      input {
        padding: 1rem;
      }

      span {
        font-size: 1.7rem;
      }
    }
  }
}
