$colorBlueLight: #4460f7;
$colorBlueDark: #2140e8;
$colorOrange: #f9a52b;
$colorGrayOne: #f0f1f5;
$colorGrayTwo: #e0e2ea;
$colorGrayThree: #b9bdcf;
$colorGrayFour: #9194a5;
$colorBlack: #1a1b1d;
$colorText: #373739;

$responsiveS: '640px';
$responseSM: '768px';
$responsiveM: '1024px';
$responsiveL: '1366px';
