@import '../../styles/variables.scss';

.header {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-container {
    &-logo {
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .button {
    width: 80px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

@media (min-width: $responsiveSM) {
  .header {
    justify-content: flex-start;

    &__logo-container {
      margin-right: 8rem;
    }
  }
}

@media (min-width: $responsiveL) {
  .header {
    &__logo-container {
      margin-right: 16rem;
    }
  }
}
