@import '../../styles/variables.scss';

.products {
  .input-wrapper {
    margin-bottom: 1.5rem;

    &__ico {
      input {
        &::placeholder {
          color: $colorText;
        }
      }
    }
  }

  &__filter {
    display: flex;
    margin-bottom: 1.5rem;

    &-last {
      margin-left: 2rem;
    }
  }

  &__pagination {
    background-color: $colorGrayOne;
    padding-bottom: 5rem;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-first,
    &-last {
      font-size: 1.3rem;
      cursor: pointer;
    }

    &-first {
      margin-right: 2rem;
    }

    &-last {
      margin-left: 2rem;
    }

    &__container {
      display: flex;
      align-items: center;

      &-page {
        margin: 0.5rem;
        font-size: 1.3rem;
      }

      &-previous,
      &-next {
        display: none;
        cursor: pointer;
        font-size: 1.3rem;
      }

      &-previous {
        margin-right: auto;
      }

      &-next {
        margin-left: auto;
      }

      &-active {
        color: blue;
      }

      &-link {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: $responsiveSM) {
  .products {
    .input-wrapper {
      margin-bottom: 0;
      margin-right: 2rem;
    }

    &__filter {
      margin-bottom: 0;
      margin-right: auto;

      .input-checkbox {
        label {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: $responsiveL) {
  .products {
    .input-wrapper {
      width: 500px;
    }

    &__pagination {
      &__container {
        display: flex;
        justify-content: center;

        &-previous {
          margin-right: 3rem;
        }

        &-next {
          margin-left: 3rem;
        }
      }
    }
  }
}
